### EDA - Combined Dateset

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading the dataset
data = pd.read_csv('data/cleaned_data/combined_cleaned.csv')
data.head()b

,domain,batch,placed_company,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,city,skills,graduated,salary
0,Web Development Using Python Django,BCK01,VNC Digital Services,Software Engineer,22.0,No Degree,No,No,9.0,No,0.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.00
1,Web Development Using Node.js Express,BCK01,Emstell Technology Consulting,Software Engineer,21.0,Degree,No,No,12.0,No,2.0,WFH,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.16
2,Web Development Using Python Django,BCK01,Creative Panda,Node JS Developer,22.0,Degree,Yes,No,9.0,Yes,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40
3,MERN Stack,BCK01,NORQ Technologies,Software Developer,23.0,No Degree,No,No,11.0,Yes,7.0,Chennai,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.55
4,Web Development Using Python Django,BCK01,ActionFi,Software Engineer,22.0,No Degree,No,No,10.0,No,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40

In [10]:
data.shape

(670, 15)

Dataset contains 670 rows and 15 columns

In [7]:
print(data.columns.values)

['domain' 'batch' 'placed_company' 'designation' 'age' 'degree' 'cs_bg'
 'experience' 'avg_time' 'holidays' 'week_back' 'city' 'skills'
 'graduated' 'salary']

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   domain          670 non-null    object
 1   batch           670 non-null    object
 2   placed_company  670 non-null    object
 3   designation     670 non-null    object
 4   age             670 non-null    float64
 5   degree          670 non-null    object
 6   cs_bg           670 non-null    object
 7   experience      670 non-null    object
 8   avg_time        670 non-null    float64
 9   holidays        670 non-null    object
 10  week_back       670 non-null    float64
 11  city            670 non-null    object
 12  skills          670 non-null    object
 13  graduated       670 non-null    object
 14  salary          670 non-null    float64
dtypes: float64(4), object(11)
memory usage: 78.6+ KB

In [18]:
# Dropping column batch
data = data.drop('batch', axis=1)

#### Descriptive Statistics

In [19]:
data.describe().T

           count       mean       std   min    25%   50%   75%   max
age        670.0  22.323881  1.242447  19.0  22.00  22.0  23.0  31.0
avg_time   670.0  10.620896  1.985639   7.0   9.25  10.0  12.0  16.0
week_back  670.0   3.395522  2.413275   0.0   1.00   4.0   5.0   7.0
salary     670.0   4.534224  1.693921   1.8   3.60   4.3   5.0  30.0

* Average age of students in Brocamp is 22
* Min age is 19 --> Students joined staright after plus two
* Max age is 31 --> There are people from other professoins who is joining Brocamp
* Average time spent by students is 10.6 hours, which is higher than industrial average (8 hours)
* The least avg time is 7 --> Most possibly day scholars
* Max avg time recorde is 16 --> Students who are putting extra efforts - check corr with salary
* On an average 3 week backs are recieved to the sutdents
* There are students who got zero weekbacks
* Max salary students recieved is 30 LPA - (in UK)
* Min Salary is 1.8 LPA --> May be from early batches
* On an average students get placed with a salary of 4.5 LPA
* The age and salary seems to have right skewed distrubtion (outliers in rightside)

#### Missing values

In [20]:
# Checking for null values
(data.isnull().sum()/len(data))*100

domain            0.0
placed_company    0.0
designation       0.0
age               0.0
degree            0.0
cs_bg             0.0
experience        0.0
avg_time          0.0
holidays          0.0
week_back         0.0
city              0.0
skills            0.0
graduated         0.0
salary            0.0
dtype: float64

In [21]:
# Checking for duplicated values
data.duplicated().sum()

2

The dataset does not have any null values (which were treated in the previous stage) and neither does it have duplicated entries.

#### Data Quality Check

In [39]:
# Function for checking unique values in columsn
def get_unique(column):
    data[column] = data[column].str.lower()
    data[column] = data[column].str.strip()
    unique = data[column].value_counts()
    
    return unique

##### 1. Domain Column

In [27]:
get_unique('domain')

mern stack                                       341
mobile development using flutter                 132
web development using python django               76
web development using python django + react       37
mean stack                                        18
golang                                            14
mobile development using android kotlin            9
machine learning                                   9
web development using node.js express              9
devops                                             8
cybersecurity                                      7
mobile development using swift                     3
game development using unity                       2
data science                                       2
frontend development using react                   1
blockchain                                         1
web development using python django + angular      1
Name: domain, dtype: int64

##### 2. placed_company

In [24]:
data['placed_company'].nunique()

459

* Brocamp has placed students 459 companies
As this is not relevent to our problem statement we can drop this column

In [25]:
data = data.drop('placed_company', axis=1)
data.head()

,domain,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,city,skills,graduated,salary
0,web development using python django,Software Engineer,22.0,No Degree,No,No,9.0,No,0.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.00
1,web development using node.js express,Software Engineer,21.0,Degree,No,No,12.0,No,2.0,WFH,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.16
2,web development using python django,Node JS Developer,22.0,Degree,Yes,No,9.0,Yes,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40
3,mern stack,Software Developer,23.0,No Degree,No,No,11.0,Yes,7.0,Chennai,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.55
4,web development using python django,Software Engineer,22.0,No Degree,No,No,10.0,No,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40

##### 3. designation

In [35]:
# Adjnustin pandas settings for printing full values
pd.set_option('display.max_rows', None)

print(get_unique('designation'))

# # Reset the display option to its default value
# pd.reset_option('display.max_rows')

full stack developer                          69
software engineer                             51
flutter developer                             44
software developer                            38
mern stack developer                          35
python developer                              14
flutter developer                             14
full stack developer                          12
associate software engineer                   11
software engineer                             10
junior software developer                     10
junior developer                               9
junior software engineer                       8
node js developer                              8
jr. software engineer                          7
trainee software engineer                      7
junior full stack developer                    7
front end developer                            6
junior flutter developer                       5
software engineer trainee                      5
react developer                                5
web developer                                  5
node.js developer                              5
developer                                      5
software development engineer                  4
application developer                          4
associate product engineer                     4
associate software engineer                    4
software development engineer-1                4
devops engineer                                4
junior software engineer                       4
back end developer                             3
member of technical staff                      3
junior back end developer                      3
golang developer                               3
full stack engineer                            3
mean stack developer                           3
associate product engineer                     3
software development engineer i                3
ios developer                                  3
junior software developer                      3
android developer                              3
mern developer                                 3
backend developer                              3
angular developer                              3
python django developer                        3
jr. software developer                         3
full-stack developer                           3
jr software engineer                           3
backend developer                              3
django developer                               3
junior flutter developer                       3
python developer                               2
mobile application developer flutter           2
software developer                             2
full stack web developer                       2
mobile app developer                           2
angular developer                              2
software developer trainee                     2
technology associate                           2
associate software technologist                2
mobile developer                               2
associate software developer                   2
frontend developer                             2
junior android developer                       2
flutter + firebase developer                   2
node js developer                              2
back-end developer                             2
junior python developer                        2
junior programmer analyst                      2
fullstack developer                            2
junior full stack developer                    2
software developer engineer                    2
nodejs developer                               2
jr. react developer                            2
data engineer                                  2
junior mern stack developer                    2
junior developer                               2
trainee-software engineer                      2
devops trainee                                 1
trainee - software developer                   1
junior web developer                           1
software development (apprentice)              1
associate developer                            1
trainee-software developer                     1
business development executive (bde)           1
product engineer associate                     1
soc engineer                                   1
software engineer(backend)                     1
data analyst                                   1
mern - stack developer                         1
project engineer backend                       1
junior programmer analyst                      1
software developer - trainee                   1
junior security analyst                        1
python backend developer                       1
trainee - software engineer                    1
flutter developer (android/ios)                1
junior react developer                         1
front-end developer                            1
reactjs developer                              1
tech lead                                      1
flutter devoloper                              1
full stack developer trainee                   1
jr.web developer                               1
python full stack developer                    1
junior computer vision developer               1
cyber security engineer                        1
jr. machine learning engineer                  1
software engineer (trainee)                    1
junior node js developer                       1
mern stack trainer                             1
research assistant (machine learning)          1
junior devops engineer                         1
mern stack tutor                               1
jr. react & python developer                   1
devops engineer                                1
frontend engineer                              1
junior nodejs developer                        1
l1 web developer                               1
software development engineer trainee          1
jr. developer                                  1
sde-1                                          1
jr. ml engineer                                1
go developer                                   1
associate product engineer.                    1
intern - frontend developer                    1
software engineer 1                            1
full stack web developer                       1
jr. app developer                              1
software engineer trainee                      1
mern stack developer                           1
developer trainee                              1
analyst (development)                          1
junior backend developer                       1
react developer                                1
junior django developer                        1
software development engineer 1                1
devsecops                                      1
flutter developer trainee                      1
data engineer intern                           1
executive placement officer                    1
react js developer                             1
senior systems engineer                        1
trainer-ip                                     1
associate full stack developer                 1
associate android developer                    1
block chain developer intern                   1
app developer                                  1
intern - member of technical staff             1
flutter developer intern                       1
mern developer                                 1
junior front end developer                     1
system software engineer                       1
software developer intern                      1
flutter deevloper                              1
android officer                                1
software design engiineer                      1
independent consultant                         1
 jr. software engineer                         1
web gl developer                               1
product engineer                               1
assistant manager (it)                         1
fulll stack developer                          1
jr node js developer                           1
node js trainee                                1
product engineer -ai/ml                        1
jr full stack python developer                 1
python developer intern                        1
executive research informatics                 1
mobile app developer                           1
poduct engineer                                1
associate engineer                             1
technical team                                 1
intern cto                                     1
assosiate software engineer                    1
mobile application developer                   1
engineer                                       1
 associate product engineer                    1
soc analyst                                    1
nodejs developer                               1
data scientist                                 1
project architect                              1
trainee engineer                               1
senior flutter developer                       1
software development engineer                  1
junior - full - stack developer                1
jr. full stack developer                       1
machine learning engineer                      1
fluttter developer                             1
mean stack developer                           1
backend developer (django)                     1
associate software                             1
flutter nodejs developer                       1
software programmer                            1
python full stack developer intern             1
junior full-stack developer                    1
jr. react js developer                         1
 junior software engineer                      1
junior software engineer (android)             1
unity 3d developer                             1
flutter engineer                               1
fullstack engineer                             1
technology associate                           1
senior game developer                          1
jr flutter developer                           1
flutter trainer                                1
clinical data programming associate            1
associate flutter developer                    1
junior software engineer(se 1)                 1
android developer                              1
node js engineer                               1
golang developer(member, technical staff)      1
jr. flutter developer                          1
Name: designation, dtype: int64

* We can see same entries in different formats, may be has extra whitespaces
* Some records are junior, while others has jr.

In [36]:
# Stripping values for removeing extra whitespaces
data['designation'] = data['designation'].str.strip()

print(get_unique('designation'))

full stack developer                         81
software engineer                            61
flutter developer                            58
software developer                           40
mern stack developer                         36
python developer                             16
associate software engineer                  15
junior software engineer                     13
junior software developer                    13
junior developer                             11
node js developer                            10
junior full stack developer                   9
associate product engineer                    8
junior flutter developer                      8
jr. software engineer                         8
trainee software engineer                     7
backend developer                             6
react developer                               6
front end developer                           6
software engineer trainee                     6
node.js developer                             5
developer                                     5
devops engineer                               5
web developer                                 5
angular developer                             5
software development engineer                 5
android developer                             4
software development engineer-1               4
application developer                         4
mern developer                                4
mean stack developer                          4
full stack web developer                      3
back end developer                            3
jr. software developer                        3
member of technical staff                     3
nodejs developer                              3
golang developer                              3
junior programmer analyst                     3
full-stack developer                          3
full stack engineer                           3
junior back end developer                     3
technology associate                          3
python django developer                       3
django developer                              3
software development engineer i               3
jr software engineer                          3
mobile app developer                          3
ios developer                                 3
frontend developer                            2
fullstack developer                           2
software developer trainee                    2
data engineer                                 2
mobile application developer flutter          2
junior python developer                       2
flutter + firebase developer                  2
junior android developer                      2
mobile developer                              2
junior mern stack developer                   2
associate software technologist               2
back-end developer                            2
associate software developer                  2
jr. react developer                           2
trainee-software engineer                     2
software developer engineer                   2
frontend engineer                             1
software development engineer trainee         1
junior react developer                        1
mern - stack developer                        1
front-end developer                           1
flutter developer (android/ios)               1
python backend developer                      1
soc engineer                                  1
product engineer associate                    1
trainee - software developer                  1
trainee-software developer                    1
software engineer(backend)                    1
junior nodejs developer                       1
junior computer vision developer              1
software developer - trainee                  1
data analyst                                  1
jr.web developer                              1
junior security analyst                       1
project engineer backend                      1
devops trainee                                1
associate developer                           1
l1 web developer                              1
junior web developer                          1
python full stack developer                   1
reactjs developer                             1
trainee - software engineer                   1
business development executive (bde)          1
mern stack tutor                              1
jr. react & python developer                  1
full stack developer trainee                  1
software development engineer 1               1
software engineer (trainee)                   1
junior django developer                       1
junior node js developer                      1
tech lead                                     1
junior backend developer                      1
analyst (development)                         1
developer trainee                             1
jr. app developer                             1
software engineer 1                           1
intern - frontend developer                   1
mern stack trainer                            1
devsecops                                     1
jr. ml engineer                               1
associate product engineer.                   1
go developer                                  1
sde-1                                         1
jr. machine learning engineer                 1
research assistant (machine learning)         1
junior devops engineer                        1
jr. developer                                 1
flutter devoloper                             1
cyber security engineer                       1
software development (apprentice)             1
flutter developer trainee                     1
senior game developer                         1
executive placement officer                   1
web gl developer                              1
flutter deevloper                             1
software developer intern                     1
system software engineer                      1
junior front end developer                    1
flutter developer intern                      1
intern - member of technical staff            1
app developer                                 1
block chain developer intern                  1
associate android developer                   1
associate full stack developer                1
trainer-ip                                    1
senior systems engineer                       1
independent consultant                        1
executive research informatics                1
software design engiineer                     1
assosiate software engineer                   1
intern cto                                    1
technical team                                1
associate engineer                            1
poduct engineer                               1
python developer intern                       1
product engineer                              1
jr full stack python developer                1
product engineer -ai/ml                       1
node js trainee                               1
jr node js developer                          1
fulll stack developer                         1
assistant manager (it)                        1
android officer                               1
mobile application developer                  1
software programmer                           1
jr. react js developer                        1
flutter nodejs developer                      1
associate software                            1
backend developer (django)                    1
fluttter developer                            1
machine learning engineer                     1
jr. full stack developer                      1
junior - full - stack developer               1
senior flutter developer                      1
trainee engineer                              1
project architect                             1
data scientist                                1
python full stack developer intern            1
junior full-stack developer                   1
flutter trainer                               1
react js developer                            1
golang developer(member, technical staff)     1
node js engineer                              1
data engineer intern                          1
junior software engineer(se 1)                1
associate flutter developer                   1
clinical data programming associate           1
jr flutter developer                          1
fullstack engineer                            1
flutter engineer                              1
unity 3d developer                            1
junior software engineer (android)            1
soc analyst                                   1
engineer                                      1
jr. flutter developer                         1
Name: designation, dtype: int64

In [57]:
# Replaceing variations to correct format
replacements = {'jr. software engineer': 'junior software engineer', 'node.js developer ': 'nodejs developer', 'node js developer ': 'nodejs developer',
               'software engineer trainee': 'trainee software engineer', 'software development engineer-1': 'software development engineer',
               'mern developer': 'mern stack developer', 'full stack web developer': 'full stack developer', 'back end developer': 'backend developer',
               'full-stack developer': 'full stack developer', 'mern - stack developer': 'mern stack developer',
               'front-end developer': 'frontend developer', 'front end developer': 'frontend developer',
               'jr. software developer': 'junior software developer', 'sde-1': 'software developer',
               'fullstack developer': 'full stack developer', 'mobile application developer flutter': 'flutter developer',
               'flutter + firebase developer': 'flutter developer ', 'back-end developer': 'backend developer',
               'jr. react developer': 'junior react developer', 'trainee-software engineer': 'trainee software engineer',
               'software development engineer trainee': 'trainee software engineer', 'flutter developer (android/ios)': 'flutter developer',
               'trainee - software developer': 'trainee software developer', 'trainee-software developer': 'trainee software developer', 
               'software engineer(backend)': 'software engineer', 'software developer - trainee': 'trainee software developer',
               'jr.web developer': 'junior web developer', 'jr. react & python developer': 'junior fullstack python developer', 'trainee - software engineer': 'trainee software engineer',
               'oftware development engineer 1': 'software development engineer', 'software engineer (trainee)': 'trainee software engineer',
               'junior node js developer': 'junior nodejs developer', 'jr. app developer ': 'junior app developer',
               'software engineer 1': 'software engineer', 'jr. ml engineer': 'junior ml engineer', 'associate product engineer.': 'associated product engineer',
               'jr. developer': 'junior developer', 'flutter devoloper': 'flutter developer', 'jr. react js developer': 'junior react developer',
               'backend developer (django)': 'bakcend developer', 'fluttter developer': 'flutter developer', 'jr. full stack developer': 'junior full stack developer',
               'junior - full - stack developer': 'junior full stack developer', 'junior full-stack developer': 'junior full stack developer',
               'golang developer(member, technical staff)': 'golang devleoper', 'jr flutter developer': 'junior flutter developer', 'fullstack engineer': 'full stack engineer',
               'jr. flutter developer': 'junior flutter developer', 'junior software engineer(se 1)': 'junior software engineer',
               'golang devleoper': 'golang developer', 'fulll stack developer': 'full stack developer', 'jr node js developer': 'junior nodejs developer',
               'react js developer': 'react developer', 'flutter deevloper': 'flutter developer', 'node.js developer': 'node js developer',
               'jr software engineer': 'junior software engineer', 'bakcend developer': 'backend developer', 'jr. app developer': 'junior app developer',
               'reactjs developer': 'react developer', 'go developer': 'golang developer', 'junior software engineer (android)': 'junior software engineer',
               'jr. machine learning engineer': 'junior machine learning engineer', 'jr full stack python developer': 'junior full stack developer',
               'junior ml engineer': 'junior machine learning engineer', 'node js developer': 'nodejs developer', 'full stack developer': 'fullstack developer',
               'junior full stack developer': 'junior fullstack developer'}

data['designation'] = data['designation'].replace(replacements)
data['designation'].value_counts()

full stack developer                     90
flutter developer                        64
software engineer                        63
mern stack developer                     41
software developer                       41
junior software engineer                 26
nodejs developer                         18
trainee software engineer                18
junior software developer                16
python developer                         16
associate software engineer              15
junior fullstack developer               13
backend developer                        12
junior developer                         12
junior flutter developer                 10
frontend developer                        9
software development engineer             9
associate product engineer                8
react developer                           8
golang developer                          5
angular developer                         5
developer                                 5
web developer                             5
devops engineer                           5
junior react developer                    4
application developer                     4
full stack engineer                       4
android developer                         4
mean stack developer                      4
python django developer                   3
junior nodejs developer                   3
technology associate                      3
member of technical staff                 3
ios developer                             3
django developer                          3
junior back end developer                 3
trainee software developer                3
mobile app developer                      3
junior programmer analyst                 3
software development engineer i           3
mobile developer                          2
junior android developer                  2
junior mern stack developer               2
software developer trainee                2
associate software technologist           2
flutter developer                         2
associate software developer              2
software developer engineer               2
junior machine learning engineer          2
junior python developer                   2
junior web developer                      2
data engineer                             2
junior fullstack python developer         1
product engineer associate                1
flutter nodejs developer                  1
software programmer                       1
executive placement officer               1
devops trainee                            1
flutter developer trainee                 1
frontend engineer                         1
data analyst                              1
junior security analyst                   1
project engineer backend                  1
associate developer                       1
mern stack tutor                          1
associated product engineer               1
soc engineer                              1
python backend developer                  1
cyber security engineer                   1
junior computer vision developer          1
mern stack trainer                        1
python full stack developer               1
devsecops                                 1
software development engineer 1           1
junior django developer                   1
tech lead                                 1
junior backend developer                  1
associate software                        1
analyst (development)                     1
developer trainee                         1
junior devops engineer                    1
junior app developer                      1
intern - frontend developer               1
full stack developer trainee              1
research assistant (machine learning)     1
software development (apprentice)         1
business development executive (bde)      1
product engineer -ai/ml                   1
senior game developer                     1
machine learning engineer                 1
independent consultant                    1
flutter developer intern                  1
intern - member of technical staff        1
app developer                             1
block chain developer intern              1
associate android developer               1
associate full stack developer            1
trainer-ip                                1
senior systems engineer                   1
web gl developer                          1
senior flutter developer                  1
executive research informatics            1
assosiate software engineer               1
intern cto                                1
technical team                            1
associate engineer                        1
poduct engineer                           1
node js trainee                           1
python developer intern                   1
junior front end developer                1
system software engineer                  1
software developer intern                 1
android officer                           1
trainee engineer                          1
project architect                         1
data scientist                            1
python full stack developer intern        1
flutter trainer                           1
node js engineer                          1
data engineer intern                      1
associate flutter developer               1
clinical data programming associate       1
product engineer                          1
flutter engineer                          1
unity 3d developer                        1
soc analyst                               1
engineer                                  1
assistant manager (it)                    1
mobile application developer              1
software design engiineer                 1
l1 web developer                          1
Name: designation, dtype: int64

##### 4. city

In [58]:
get_unique('city')

bangalore                    254
wfh                          235
manjeri malappuram            93
chennai                       20
calicut                       14
hyderabad                     11
on site                       11
nagercoil                      8
manjeri                        8
chennai works from office      5
ernakulam                      4
kochi                          2
office                         2
pune                           2
trivandrum                     1
Name: city, dtype: int64

* Bangalore is the city that has more placements, which has simlar number to work from home.
* Some entries as in different format like `manjeri`, and `manjeri malappuarm`
* Most of these data is imputed

In [60]:
replacements = {'manjeri malappuram': 'manjeri', 'on site': 'others', 'chennai works from office': 'chennai',
               'office': 'others'}

data['city'] = data['city'].replace(replacements)
data['city'].value_counts()

bangalore     254
wfh           235
manjeri       101
chennai        25
calicut        14
others         13
hyderabad      11
nagercoil       8
ernakulam       4
kochi           2
pune            2
trivandrum      1
Name: city, dtype: int64

* This is not a reliable columns, as `manjeri` shows high numbers, which is not true