### EDA - Combined Dateset

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading the dataset
data = pd.read_csv('data/cleaned_data/combined_cleaned.csv')
data.head()

,domain,batch,placed_company,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,city,skills,graduated,salary
0,Web Development Using Python Django,BCK01,VNC Digital Services,Software Engineer,22.0,No Degree,No,No,9.0,No,0.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.00
1,Web Development Using Node.js Express,BCK01,Emstell Technology Consulting,Software Engineer,21.0,Degree,No,No,12.0,No,2.0,WFH,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.16
2,Web Development Using Python Django,BCK01,Creative Panda,Node JS Developer,22.0,Degree,Yes,No,9.0,Yes,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40
3,MERN Stack,BCK01,NORQ Technologies,Software Developer,23.0,No Degree,No,No,11.0,Yes,7.0,Chennai,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.55
4,Web Development Using Python Django,BCK01,ActionFi,Software Engineer,22.0,No Degree,No,No,10.0,No,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40

In [3]:
data.shape

(670, 15)

Dataset contains 670 rows and 15 columns

In [4]:
print(data.columns.values)

['domain' 'batch' 'placed_company' 'designation' 'age' 'degree' 'cs_bg'
 'experience' 'avg_time' 'holidays' 'week_back' 'city' 'skills'
 'graduated' 'salary']

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   domain          670 non-null    object
 1   batch           670 non-null    object
 2   placed_company  670 non-null    object
 3   designation     670 non-null    object
 4   age             670 non-null    float64
 5   degree          670 non-null    object
 6   cs_bg           670 non-null    object
 7   experience      670 non-null    object
 8   avg_time        670 non-null    float64
 9   holidays        670 non-null    object
 10  week_back       670 non-null    float64
 11  city            670 non-null    object
 12  skills          670 non-null    object
 13  graduated       670 non-null    object
 14  salary          670 non-null    float64
dtypes: float64(4), object(11)
memory usage: 78.6+ KB

In [6]:
# Dropping column batch
data = data.drop('batch', axis=1)

#### Descriptive Statistics

In [7]:
data.describe().T

           count       mean       std   min    25%   50%   75%   max
age        670.0  22.323881  1.242447  19.0  22.00  22.0  23.0  31.0
avg_time   670.0  10.620896  1.985639   7.0   9.25  10.0  12.0  16.0
week_back  670.0   3.395522  2.413275   0.0   1.00   4.0   5.0   7.0
salary     670.0   4.534224  1.693921   1.8   3.60   4.3   5.0  30.0

* Average age of students in Brocamp is 22
* Min age is 19 --> Students joined staright after plus two
* Max age is 31 --> There are people from other professoins who is joining Brocamp
* Average time spent by students is 10.6 hours, which is higher than industrial average (8 hours)
* The least avg time is 7 --> Most possibly day scholars
* Max avg time recorde is 16 --> Students who are putting extra efforts - check corr with salary
* On an average 3 week backs are recieved to the sutdents
* There are students who got zero weekbacks
* Max salary students recieved is 30 LPA - (in UK)
* Min Salary is 1.8 LPA --> May be from early batches
* On an average students get placed with a salary of 4.5 LPA
* The age and salary seems to have right skewed distrubtion (outliers in rightside)

#### Missing values

In [8]:
# Checking for null values
(data.isnull().sum()/len(data))*100

domain            0.0
placed_company    0.0
designation       0.0
age               0.0
degree            0.0
cs_bg             0.0
experience        0.0
avg_time          0.0
holidays          0.0
week_back         0.0
city              0.0
skills            0.0
graduated         0.0
salary            0.0
dtype: float64

In [9]:
# Checking for duplicated values
data.duplicated().sum()

2

The dataset does not have any null values (which were treated in the previous stage) and neither does it have duplicated entries.

#### Data Quality Check

In [10]:
# Function for checking unique values in columsn
def get_unique(column):
    data[column] = data[column].str.lower()
    data[column] = data[column].str.strip()
    unique = data[column].value_counts()
    
    return unique

##### 1. Domain Column

In [11]:
get_unique('domain')

mern stack                                       341
mobile development using flutter                 132
web development using python django               76
web development using python django + react       37
mean stack                                        18
golang                                            14
mobile development using android kotlin            9
machine learning                                   9
web development using node.js express              9
devops                                             8
cybersecurity                                      7
mobile development using swift                     3
game development using unity                       2
data science                                       2
frontend development using react                   1
blockchain                                         1
web development using python django + angular      1
Name: domain, dtype: int64

##### 2. placed_company

In [12]:
data['placed_company'].nunique()

459

* Brocamp has placed students 459 companies
As this is not relevent to our problem statement we can drop this column

In [13]:
data = data.drop('placed_company', axis=1)
data.head()

,domain,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,city,skills,graduated,salary
0,web development using python django,Software Engineer,22.0,No Degree,No,No,9.0,No,0.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.00
1,web development using node.js express,Software Engineer,21.0,Degree,No,No,12.0,No,2.0,WFH,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.16
2,web development using python django,Node JS Developer,22.0,Degree,Yes,No,9.0,Yes,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40
3,mern stack,Software Developer,23.0,No Degree,No,No,11.0,Yes,7.0,Chennai,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,3.55
4,web development using python django,Software Engineer,22.0,No Degree,No,No,10.0,No,4.0,Bangalore,"Angular, Express, Node, MongoDB, MySQL, Typesc...",Yes,2.40

##### 3. designation

In [14]:
# Adjnustin pandas settings for printing full values
pd.set_option('display.max_rows', None)

print(get_unique('designation'))

# # Reset the display option to its default value
# pd.reset_option('display.max_rows')

full stack developer                         81
software engineer                            61
flutter developer                            58
software developer                           40
mern stack developer                         36
python developer                             16
associate software engineer                  15
junior software engineer                     13
junior software developer                    13
junior developer                             11
node js developer                            10
junior full stack developer                   9
associate product engineer                    8
junior flutter developer                      8
jr. software engineer                         8
trainee software engineer                     7
backend developer                             6
react developer                               6
front end developer                           6
software engineer trainee                     6
node.js developer                             5
developer                                     5
devops engineer                               5
web developer                                 5
angular developer                             5
software development engineer                 5
android developer                             4
software development engineer-1               4
application developer                         4
mern developer                                4
mean stack developer                          4
full stack web developer                      3
back end developer                            3
jr. software developer                        3
member of technical staff                     3
nodejs developer                              3
golang developer                              3
junior programmer analyst                     3
full-stack developer                          3
full stack engineer                           3
junior back end developer                     3
technology associate                          3
python django developer                       3
django developer                              3
software development engineer i               3
jr software engineer                          3
mobile app developer                          3
ios developer                                 3
frontend developer                            2
fullstack developer                           2
software developer trainee                    2
data engineer                                 2
mobile application developer flutter          2
junior python developer                       2
flutter + firebase developer                  2
junior android developer                      2
mobile developer                              2
junior mern stack developer                   2
associate software technologist               2
back-end developer                            2
associate software developer                  2
jr. react developer                           2
trainee-software engineer                     2
software developer engineer                   2
frontend engineer                             1
software development engineer trainee         1
junior react developer                        1
mern - stack developer                        1
front-end developer                           1
flutter developer (android/ios)               1
python backend developer                      1
soc engineer                                  1
product engineer associate                    1
trainee - software developer                  1
trainee-software developer                    1
software engineer(backend)                    1
junior nodejs developer                       1
junior computer vision developer              1
software developer - trainee                  1
data analyst                                  1
jr.web developer                              1
junior security analyst                       1
project engineer backend                      1
devops trainee                                1
associate developer                           1
l1 web developer                              1
junior web developer                          1
python full stack developer                   1
reactjs developer                             1
trainee - software engineer                   1
business development executive (bde)          1
mern stack tutor                              1
jr. react & python developer                  1
full stack developer trainee                  1
software development engineer 1               1
software engineer (trainee)                   1
junior django developer                       1
junior node js developer                      1
tech lead                                     1
junior backend developer                      1
analyst (development)                         1
developer trainee                             1
jr. app developer                             1
software engineer 1                           1
intern - frontend developer                   1
mern stack trainer                            1
devsecops                                     1
jr. ml engineer                               1
associate product engineer.                   1
go developer                                  1
sde-1                                         1
jr. machine learning engineer                 1
research assistant (machine learning)         1
junior devops engineer                        1
jr. developer                                 1
flutter devoloper                             1
cyber security engineer                       1
software development (apprentice)             1
flutter developer trainee                     1
senior game developer                         1
executive placement officer                   1
web gl developer                              1
flutter deevloper                             1
software developer intern                     1
system software engineer                      1
junior front end developer                    1
flutter developer intern                      1
intern - member of technical staff            1
app developer                                 1
block chain developer intern                  1
associate android developer                   1
associate full stack developer                1
trainer-ip                                    1
senior systems engineer                       1
independent consultant                        1
executive research informatics                1
software design engiineer                     1
assosiate software engineer                   1
intern cto                                    1
technical team                                1
associate engineer                            1
poduct engineer                               1
python developer intern                       1
product engineer                              1
jr full stack python developer                1
product engineer -ai/ml                       1
node js trainee                               1
jr node js developer                          1
fulll stack developer                         1
assistant manager (it)                        1
android officer                               1
mobile application developer                  1
software programmer                           1
jr. react js developer                        1
flutter nodejs developer                      1
associate software                            1
backend developer (django)                    1
fluttter developer                            1
machine learning engineer                     1
jr. full stack developer                      1
junior - full - stack developer               1
senior flutter developer                      1
trainee engineer                              1
project architect                             1
data scientist                                1
python full stack developer intern            1
junior full-stack developer                   1
flutter trainer                               1
react js developer                            1
golang developer(member, technical staff)     1
node js engineer                              1
data engineer intern                          1
junior software engineer(se 1)                1
associate flutter developer                   1
clinical data programming associate           1
jr flutter developer                          1
fullstack engineer                            1
flutter engineer                              1
unity 3d developer                            1
junior software engineer (android)            1
soc analyst                                   1
engineer                                      1
jr. flutter developer                         1
Name: designation, dtype: int64

* We can see same entries in different formats, may be has extra whitespaces
* Some records are junior, while others has jr.

In [15]:
# Stripping values for removeing extra whitespaces
data['designation'] = data['designation'].str.strip()

print(get_unique('designation'))

full stack developer                         81
software engineer                            61
flutter developer                            58
software developer                           40
mern stack developer                         36
python developer                             16
associate software engineer                  15
junior software engineer                     13
junior software developer                    13
junior developer                             11
node js developer                            10
junior full stack developer                   9
associate product engineer                    8
junior flutter developer                      8
jr. software engineer                         8
trainee software engineer                     7
backend developer                             6
react developer                               6
front end developer                           6
software engineer trainee                     6
node.js developer                             5
developer                                     5
devops engineer                               5
web developer                                 5
angular developer                             5
software development engineer                 5
android developer                             4
software development engineer-1               4
application developer                         4
mern developer                                4
mean stack developer                          4
full stack web developer                      3
back end developer                            3
jr. software developer                        3
member of technical staff                     3
nodejs developer                              3
golang developer                              3
junior programmer analyst                     3
full-stack developer                          3
full stack engineer                           3
junior back end developer                     3
technology associate                          3
python django developer                       3
django developer                              3
software development engineer i               3
jr software engineer                          3
mobile app developer                          3
ios developer                                 3
frontend developer                            2
fullstack developer                           2
software developer trainee                    2
data engineer                                 2
mobile application developer flutter          2
junior python developer                       2
flutter + firebase developer                  2
junior android developer                      2
mobile developer                              2
junior mern stack developer                   2
associate software technologist               2
back-end developer                            2
associate software developer                  2
jr. react developer                           2
trainee-software engineer                     2
software developer engineer                   2
frontend engineer                             1
software development engineer trainee         1
junior react developer                        1
mern - stack developer                        1
front-end developer                           1
flutter developer (android/ios)               1
python backend developer                      1
soc engineer                                  1
product engineer associate                    1
trainee - software developer                  1
trainee-software developer                    1
software engineer(backend)                    1
junior nodejs developer                       1
junior computer vision developer              1
software developer - trainee                  1
data analyst                                  1
jr.web developer                              1
junior security analyst                       1
project engineer backend                      1
devops trainee                                1
associate developer                           1
l1 web developer                              1
junior web developer                          1
python full stack developer                   1
reactjs developer                             1
trainee - software engineer                   1
business development executive (bde)          1
mern stack tutor                              1
jr. react & python developer                  1
full stack developer trainee                  1
software development engineer 1               1
software engineer (trainee)                   1
junior django developer                       1
junior node js developer                      1
tech lead                                     1
junior backend developer                      1
analyst (development)                         1
developer trainee                             1
jr. app developer                             1
software engineer 1                           1
intern - frontend developer                   1
mern stack trainer                            1
devsecops                                     1
jr. ml engineer                               1
associate product engineer.                   1
go developer                                  1
sde-1                                         1
jr. machine learning engineer                 1
research assistant (machine learning)         1
junior devops engineer                        1
jr. developer                                 1
flutter devoloper                             1
cyber security engineer                       1
software development (apprentice)             1
flutter developer trainee                     1
senior game developer                         1
executive placement officer                   1
web gl developer                              1
flutter deevloper                             1
software developer intern                     1
system software engineer                      1
junior front end developer                    1
flutter developer intern                      1
intern - member of technical staff            1
app developer                                 1
block chain developer intern                  1
associate android developer                   1
associate full stack developer                1
trainer-ip                                    1
senior systems engineer                       1
independent consultant                        1
executive research informatics                1
software design engiineer                     1
assosiate software engineer                   1
intern cto                                    1
technical team                                1
associate engineer                            1
poduct engineer                               1
python developer intern                       1
product engineer                              1
jr full stack python developer                1
product engineer -ai/ml                       1
node js trainee                               1
jr node js developer                          1
fulll stack developer                         1
assistant manager (it)                        1
android officer                               1
mobile application developer                  1
software programmer                           1
jr. react js developer                        1
flutter nodejs developer                      1
associate software                            1
backend developer (django)                    1
fluttter developer                            1
machine learning engineer                     1
jr. full stack developer                      1
junior - full - stack developer               1
senior flutter developer                      1
trainee engineer                              1
project architect                             1
data scientist                                1
python full stack developer intern            1
junior full-stack developer                   1
flutter trainer                               1
react js developer                            1
golang developer(member, technical staff)     1
node js engineer                              1
data engineer intern                          1
junior software engineer(se 1)                1
associate flutter developer                   1
clinical data programming associate           1
jr flutter developer                          1
fullstack engineer                            1
flutter engineer                              1
unity 3d developer                            1
junior software engineer (android)            1
soc analyst                                   1
engineer                                      1
jr. flutter developer                         1
Name: designation, dtype: int64

In [16]:
# Replaceing variations to correct format
replacements = {'jr. software engineer': 'junior software engineer', 'node.js developer ': 'nodejs developer', 'node js developer ': 'nodejs developer',
               'software engineer trainee': 'trainee software engineer', 'software development engineer-1': 'software development engineer',
               'mern developer': 'mern stack developer', 'full stack web developer': 'full stack developer', 'back end developer': 'backend developer',
               'full-stack developer': 'full stack developer', 'mern - stack developer': 'mern stack developer',
               'front-end developer': 'frontend developer', 'front end developer': 'frontend developer',
               'jr. software developer': 'junior software developer', 'sde-1': 'software developer',
               'fullstack developer': 'full stack developer', 'mobile application developer flutter': 'flutter developer',
               'flutter + firebase developer': 'flutter developer ', 'back-end developer': 'backend developer',
               'jr. react developer': 'junior react developer', 'trainee-software engineer': 'trainee software engineer',
               'software development engineer trainee': 'trainee software engineer', 'flutter developer (android/ios)': 'flutter developer',
               'trainee - software developer': 'trainee software developer', 'trainee-software developer': 'trainee software developer', 
               'software engineer(backend)': 'software engineer', 'software developer - trainee': 'trainee software developer',
               'jr.web developer': 'junior web developer', 'jr. react & python developer': 'junior fullstack python developer', 'trainee - software engineer': 'trainee software engineer',
               'oftware development engineer 1': 'software development engineer', 'software engineer (trainee)': 'trainee software engineer',
               'junior node js developer': 'junior nodejs developer', 'jr. app developer ': 'junior app developer',
               'software engineer 1': 'software engineer', 'jr. ml engineer': 'junior ml engineer', 'associate product engineer.': 'associated product engineer',
               'jr. developer': 'junior developer', 'flutter devoloper': 'flutter developer', 'jr. react js developer': 'junior react developer',
               'backend developer (django)': 'bakcend developer', 'fluttter developer': 'flutter developer', 'jr. full stack developer': 'junior full stack developer',
               'junior - full - stack developer': 'junior full stack developer', 'junior full-stack developer': 'junior full stack developer',
               'golang developer(member, technical staff)': 'golang devleoper', 'jr flutter developer': 'junior flutter developer', 'fullstack engineer': 'full stack engineer',
               'jr. flutter developer': 'junior flutter developer', 'junior software engineer(se 1)': 'junior software engineer',
               'golang devleoper': 'golang developer', 'fulll stack developer': 'full stack developer', 'jr node js developer': 'junior nodejs developer',
               'react js developer': 'react developer', 'flutter deevloper': 'flutter developer', 'node.js developer': 'node js developer',
               'jr software engineer': 'junior software engineer', 'bakcend developer': 'backend developer', 'jr. app developer': 'junior app developer',
               'reactjs developer': 'react developer', 'go developer': 'golang developer', 'junior software engineer (android)': 'junior software engineer',
               'jr. machine learning engineer': 'junior machine learning engineer', 'jr full stack python developer': 'junior full stack developer',
               'junior ml engineer': 'junior machine learning engineer', 'node js developer': 'nodejs developer', 'full stack developer': 'fullstack developer',
               'junior full stack developer': 'junior fullstack developer'}

data['designation'] = data['designation'].replace(replacements)
data['designation'].value_counts()

fullstack developer                      81
flutter developer                        64
software engineer                        63
mern stack developer                     41
software developer                       41
junior software engineer                 26
trainee software engineer                18
junior software developer                16
python developer                         16
associate software engineer              15
nodejs developer                         13
junior developer                         12
backend developer                        11
junior flutter developer                 10
full stack developer                      9
junior fullstack developer                9
software development engineer             9
frontend developer                        9
react developer                           8
associate product engineer                8
devops engineer                           5
angular developer                         5
web developer                             5
node js developer                         5
developer                                 5
android developer                         4
application developer                     4
junior react developer                    4
golang developer                          4
full stack engineer                       4
mean stack developer                      4
junior full stack developer               4
python django developer                   3
ios developer                             3
technology associate                      3
member of technical staff                 3
trainee software developer                3
junior nodejs developer                   3
junior back end developer                 3
software development engineer i           3
junior programmer analyst                 3
mobile app developer                      3
django developer                          3
junior android developer                  2
junior mern stack developer               2
software developer engineer               2
software developer trainee                2
mobile developer                          2
flutter developer                         2
associate software technologist           2
associate software developer              2
junior python developer                   2
junior web developer                      2
data engineer                             2
data analyst                              1
project engineer backend                  1
devops trainee                            1
associate developer                       1
flutter developer trainee                 1
frontend engineer                         1
junior fullstack python developer         1
executive placement officer               1
software programmer                       1
mern stack tutor                          1
product engineer associate                1
flutter nodejs developer                  1
junior security analyst                   1
full stack developer trainee              1
soc engineer                              1
junior django developer                   1
junior machine learning engineer          1
cyber security engineer                   1
junior computer vision developer          1
mern stack trainer                        1
python full stack developer               1
junior ml engineer                        1
devsecops                                 1
junior devops engineer                    1
software development engineer 1           1
tech lead                                 1
python backend developer                  1
junior backend developer                  1
associate software                        1
analyst (development)                     1
developer trainee                         1
junior app developer                      1
intern - frontend developer               1
research assistant (machine learning)     1
software development (apprentice)         1
business development executive (bde)      1
associated product engineer               1
node js trainee                           1
bakcend developer                         1
system software engineer                  1
flutter developer intern                  1
intern - member of technical staff        1
app developer                             1
block chain developer intern              1
associate android developer               1
associate full stack developer            1
trainer-ip                                1
senior systems engineer                   1
independent consultant                    1
web gl developer                          1
executive research informatics            1
assosiate software engineer               1
intern cto                                1
technical team                            1
associate engineer                        1
poduct engineer                           1
python developer intern                   1
product engineer                          1
product engineer -ai/ml                   1
junior front end developer                1
software developer intern                 1
machine learning engineer                 1
android officer                           1
senior flutter developer                  1
trainee engineer                          1
project architect                         1
data scientist                            1
python full stack developer intern        1
flutter trainer                           1
golang devleoper                          1
node js engineer                          1
data engineer intern                      1
associate flutter developer               1
clinical data programming associate       1
senior game developer                     1
flutter engineer                          1
unity 3d developer                        1
soc analyst                               1
engineer                                  1
assistant manager (it)                    1
mobile application developer              1
software design engiineer                 1
l1 web developer                          1
Name: designation, dtype: int64

##### 4. city

In [17]:
get_unique('city')

bangalore                    254
wfh                          235
manjeri malappuram            93
chennai                       20
calicut                       14
hyderabad                     11
on site                       11
nagercoil                      8
manjeri                        8
chennai works from office      5
ernakulam                      4
kochi                          2
office                         2
pune                           2
trivandrum                     1
Name: city, dtype: int64

* Bangalore is the city that has more placements, which has simlar number to work from home.
* Some entries as in different format like `manjeri`, and `manjeri malappuarm`
* Most of these data is imputed

In [18]:
replacements = {'manjeri malappuram': 'manjeri', 'on site': 'others', 'chennai works from office': 'chennai',
               'office': 'others'}

data['city'] = data['city'].replace(replacements)
data['city'].value_counts()

bangalore     254
wfh           235
manjeri       101
chennai        25
calicut        14
others         13
hyderabad      11
nagercoil       8
ernakulam       4
kochi           2
pune            2
trivandrum      1
Name: city, dtype: int64

* This is not a reliable columns, as `manjeri` shows high numbers, which is not true - Caused by imputation

#### Extracting uniques `Skills`

In [20]:
# Finding all the skills from the dataset
skills = []

for i in range(len(data)):
    sk = data['skills'][i].split(",")
    
    for j in range(len(sk)):
        skills.append(sk[j])

print(skills)

['Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Python', ' HTML', ' CSS', ' Deep Learning', ' OpenCV', ' CNN', ' Computer Vision', 'Python', ' HTML', ' CSS', ' Deep Learning', ' OpenCV', ' CNN', ' Computer Vision', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', ' Node', ' Html', ' CSS', ' Mongodb', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'Python', 'SQL', 'Django', 'Html', 'Css', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Dart', 'Api integration', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', ' Node js', ' html', ' css', ' bootstrap', ' git', ' Ms office', ' Mysql', ' mongodb', ' express js.', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Dart', 'Api integration', '', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React js ', 'React query', 'React', ' Node', ' Html', ' CSS', ' Mongodb', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Python', ' HTML', ' CSS', ' Deep Learning', ' OpenCV', ' CNN', ' Computer Vision', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' Nest', ' Next', ' HTML', ' CSS', ' MUI', ' Socket.io', ' MongoDB', ' Javascript', ' Bootstrap', ' Tailwind CSS', ' jQuery', ' Redux', ' Express JS', ' Mongoose', ' JWT', ' Git', ' Postman', ' Firebase', ' Vercel', ' Nginx', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'React', 'Python', 'SQL', 'Django', 'Html', 'Css', 'Python', ' Django', ' SQL', ' Git', ' AWS', ' Digital Ocean', ' HTML', ' CSS', ' React', ' Data Structure', ' Communication ', 'React', 'Python', 'SQL', 'Django', 'Html', 'Css', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node js', ' html', ' css', ' bootstrap', ' git', ' Ms office', ' Mysql', ' mongodb', ' express js.', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Node JS', ' Express JS', ' HTML', ' CSS', ' Linux', ' MongoDB', ' Vim', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React js ', 'React query', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React js', ' node js', ' mongodb', ' express js', ' html& css', 'sass', 'aws', 'jquary', ' my sql', ' bootstrap', ' mui etc..', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Node JS', ' Express JS', ' HTML', ' CSS', ' Linux', ' MongoDB', ' Vim', 'Dart', 'Api integration', '', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node js', ' html', ' css', ' bootstrap', ' git', ' Ms office', ' Mysql', ' mongodb', ' express js.', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React js', ' node js', ' mongodb', ' express js', ' html& css', 'sass', 'aws', 'jquary', ' my sql', ' bootstrap', ' mui etc..', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Html', ' Css', ' Javascript', ' Node.Js', 'Mongo db', ' Redux', ' React. Js', ' React Neative', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node js', ' html', ' css', ' bootstrap', ' git', ' Ms office', ' Mysql', ' mongodb', ' express js.', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'React', ' Node', ' Html', ' CSS', ' Mongodb', 'React', 'node js ', ' nest js ', ' express js ', ' jest', 'go etc', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React js ', 'React query', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Node JS', ' Express JS', ' HTML', ' CSS', ' Linux', ' MongoDB', ' Vim', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'React', 'node', 'js', 'typescript', 'expresses', 'mongodb', 'html', 'css', 'tailwind css', ' ', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React js', ' node js', ' mongodb', ' express js', ' html& css', 'sass', 'aws', 'jquary', ' my sql', ' bootstrap', ' mui etc..', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React js ', 'React query', 'React', ' Node js', ' html', ' css', ' bootstrap', ' git', ' Ms office', ' Mysql', ' mongodb', ' express js.', 'React', ' Node', ' Html', ' css', ' js', ' express', ' aws', ' docker', ' niginx', ' typescipt', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL', ' Typescript', ' Html', ' CSS', ' Ajax', ' jquery', ' DataStrures', 'React', 'Node', 'HTML', 'CSS', 'Java Script', 'Redux', 'JQuery', '', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'React', ' Node', ' HTML', ' CSS', ' TailwindCSS', ' SCSS', ' MongoDB', ' AWS', ' Git', ' SQL', 'Angular', ' Express', ' Node', ' MongoDB', ' MySQL',

In [21]:
cleaned_skills = list(set([skill.lower().strip() for skill in skills if skill.strip()]))

print(cleaned_skills)

['api integration', 'vim', 'css', 'nodejs', 'node', 'node js', 'mongodb', 'nest', 'flutter', 'react neative', 'html', 'javascript', 'nextj', 'my sql', 'express js.', 'node.js', 'react. js', 'html css javascript', 'redux', 'computer vision', 'jest', 'tailwind', 'git', 'tailwindcss', 'digital ocean', 'sass', 'go', 'java script', 'python', 'aws', 'deep learning', 'go etc', 'mysql', 'hasura', 'typescipt', 'mongo db', 'nest js', 'react', 'communication', 'next', 'linux', 'niginx', 'jwt', 'react js', 'refine', 'ms office', 'tailwind css', 'socket.io', 'opencv', 'express js', 'express', 'nginx', 'js', 'scss', 'ajax', 'data structure', 'mongoose', 'cnn', 'docker', 'jquery', 'expresses', 'firebase', 'mui etc..', 'sql', 'postman', 'typescript', 'dart', 'django', 'jquary', 'datastrures', 'html& css', 'socket io', 'vercel', 'angular', 'react query', 'firbase', 'graphql', 'api', 'mui', 'bootstrap']

In [22]:
len(cleaned_skills)

80

In [25]:
import nltk
from nltk.stem import WordNetLemmatizer
import re

# Standardize skill names
wordnet_lemmatizer = WordNetLemmatizer()
unique_skills = set()
for skill in cleaned_skills:
    # Convert to lowercase and remove punctuation and white spaces
    skill = skill.lower().replace(".", "").replace(",", "").replace(" ", "")
    # Lemmatize skill name
    skill = wordnet_lemmatizer.lemmatize(skill)
    unique_skills.add(skill)

# Print unique skill names
print(sorted(unique_skills))

['ajax', 'angular', 'api', 'apiintegration', 'aws', 'bootstrap', 'cnn', 'communication', 'computervision', 'cs', 'dart', 'datastructure', 'datastrures', 'deeplearning', 'digitalocean', 'django', 'docker', 'express', 'expressjs', 'firbase', 'firebase', 'flutter', 'git', 'go', 'goetc', 'graphql', 'hasura', 'html', 'html&css', 'htmlcssjavascript', 'j', 'javascript', 'jest', 'jquary', 'jquery', 'jwt', 'linux', 'mongodb', 'mongoose', 'msoffice', 'mui', 'muietc', 'mysql', 'nest', 'nestjs', 'next', 'nextj', 'nginx', 'niginx', 'node', 'nodejs', 'opencv', 'postman', 'python', 'react', 'reactjs', 'reactneative', 'reactquery', 'redux', 'refine', 'sas', 'sc', 'socketio', 'sql', 'tailwind', 'tailwindcss', 'typescipt', 'typescript', 'vercel', 'vim']

In [24]:
len(unique_skills)

70

In [27]:
unique_skills = sorted(list(unique_skills))

replacements = {
    'datastrures': 'datastructures',
    'datastructure': 'datastructures',
    'express': 'expressjs',
    'firbase': 'firebase',
    'html&css': 'html',
    'go': 'mongodb',
    'apiintegration': 'api',
    'nextj': 'nextjs',
    'sc': 'scss',
    'tailwind': 'tailwindcss',
    'goetc': 'go',
    'niginx': 'nginx',
    'react': 'reactjs',
    'node': 'nodejs',
    'refine': 'refinejs',
    'nextj': 'nextjs',
    'j': 'javascript',
    'reactquery': 'reactjs',
    'muietc': 'mui',
    'htmlcssjavascript': 'javascript',
    'jquary': 'jquery',
    'cs': 'css',
    'nest': 'nestjs',
    'reactneative': 'reactnative',
    'typescipt': 'typescript'
}

unique_skills_cleaned = set()

# Iterate over the skills list and extract unique skills
for skill in unique_skills:
    # Split the skill string on space and/or dot characters
    parts = re.split(r'[.\s]+', skill.lower())
    # Iterate over the parts and add non-empty and non-stopword parts to the unique_skills set
    for part in parts:
        if part not in replacements and part not in nltk.corpus.stopwords.words('english') and len(part) > 1:
            unique_skills_cleaned.add(part)

# Replace any keywords in the unique skills with their replacements
unique_skills_cleaned = [replacements.get(skill, skill) for skill in unique_skills_cleaned]

# Sort the unique skills list and print it
print(sorted(unique_skills_cleaned))

['ajax', 'angular', 'api', 'aws', 'bootstrap', 'cnn', 'communication', 'computervision', 'dart', 'deeplearning', 'digitalocean', 'django', 'docker', 'expressjs', 'firebase', 'flutter', 'git', 'graphql', 'hasura', 'html', 'javascript', 'jest', 'jquery', 'jwt', 'linux', 'mongodb', 'mongoose', 'msoffice', 'mui', 'mysql', 'nestjs', 'next', 'nginx', 'nodejs', 'opencv', 'postman', 'python', 'reactjs', 'redux', 'sas', 'socketio', 'sql', 'tailwindcss', 'typescript', 'vercel', 'vim']

In [28]:
len(unique_skills_cleaned)

46

##### Creating columns for each unique skill

In [29]:
# function to extract unique skills from the skills column
def extract_skills(skills):
    extracted_skills = []
    for skill in unique_skills_cleaned:
        pattern = re.compile(skill, re.IGNORECASE)
        if any(pattern.search(s) for s in skills.split(',')):
            extracted_skills.append(skill)
    return extracted_skills

In [57]:
# Creating a copy of the dataframe
skills_df = data.copy()

# extract unique skills from skills column
skills_df['extracted_skills'] = skills_df['skills'].apply(extract_skills)

# create new columns for each unique skill
for skill in unique_skills_cleaned:
    skills_df[skill] = skills_df['extracted_skills'].apply(lambda x: 1 if skill in x else 0)

# drop the extracted_skills column
skills_df = skills_df.drop('extracted_skills', axis=1)

skills_df.head()

,domain,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,city,...,linux,next,tailwindcss,deeplearning,mui,jwt,jquery,bootstrap,reactjs,firebase
0,web development using python django,software engineer,22.0,No Degree,No,No,9.0,No,0.0,bangalore,...,0,0,0,0,0,0,1,0,0,0
1,web development using node.js express,software engineer,21.0,Degree,No,No,12.0,No,2.0,wfh,...,0,0,0,0,0,0,1,0,0,0
2,web development using python django,nodejs developer,22.0,Degree,Yes,No,9.0,Yes,4.0,bangalore,...,0,0,0,0,0,0,1,0,0,0
3,mern stack,software developer,23.0,No Degree,No,No,11.0,Yes,7.0,chennai,...,0,0,0,0,0,0,1,0,0,0
4,web development using python django,software engineer,22.0,No Degree,No,No,10.0,No,4.0,bangalore,...,0,0,0,0,0,0,1,0,0,0

In [58]:
skills_df.columns

Index(['domain', 'designation', 'age', 'degree', 'cs_bg', 'experience',
       'avg_time', 'holidays', 'week_back', 'city', 'skills', 'graduated',
       'salary', 'python', 'vim', 'nodejs', 'sql', 'postman', 'sas', 'opencv',
       'aws', 'typescript', 'computervision', 'dart', 'mongodb', 'nestjs',
       'flutter', 'django', 'nginx', 'html', 'javascript', 'hasura', 'mysql',
       'ajax', 'expressjs', 'vercel', 'msoffice', 'redux', 'socketio',
       'digitalocean', 'mongoose', 'cnn', 'angular', 'jest', 'git', 'graphql',
       'docker', 'api', 'communication', 'linux', 'next', 'tailwindcss',
       'deeplearning', 'mui', 'jwt', 'jquery', 'bootstrap', 'reactjs',
       'firebase'],
      dtype='object')

In [59]:
# Moving the `salary` column to last
column_to_move = skills_df.pop("salary")

# insert column with insert(location, column_name, column_value)

skills_df.insert(58, "salary", column_to_move)

In [60]:
# Dropping the skills column
skills_df = skills_df.drop('skills', axis=1)

In [61]:
skills_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   domain          670 non-null    object
 1   designation     670 non-null    object
 2   age             670 non-null    float64
 3   degree          670 non-null    object
 4   cs_bg           670 non-null    object
 5   experience      670 non-null    object
 6   avg_time        670 non-null    float64
 7   holidays        670 non-null    object
 8   week_back       670 non-null    float64
 9   city            670 non-null    object
 10  graduated       670 non-null    object
 11  python          670 non-null    int64
 12  vim             670 non-null    int64
 13  nodejs          670 non-null    int64
 14  sql             670 non-null    int64
 15  postman         670 non-null    int64
 16  sas             670 non-null    int64
 17  opencv          670 non-null    int64
 18  aws             670 non-null    int64
 19  typescript      670 non-null    int64
 20  computervision  670 non-null    int64
 21  dart            670 non-null    int64
 22  mongodb         670 non-null    int64
 23  nestjs          670 non-null    int64
 24  flutter         670 non-null    int64
 25  django          670 non-null    int64
 26  nginx           670 non-null    int64
 27  html            670 non-null    int64
 28  javascript      670 non-null    int64
 29  hasura          670 non-null    int64
 30  mysql           670 non-null    int64
 31  ajax            670 non-null    int64
 32  expressjs       670 non-null    int64
 33  vercel          670 non-null    int64
 34  msoffice        670 non-null    int64
 35  redux           670 non-null    int64
 36  socketio        670 non-null    int64
 37  digitalocean    670 non-null    int64
 38  mongoose        670 non-null    int64
 39  cnn             670 non-null    int64
 40  angular         670 non-null    int64
 41  jest            670 non-null    int64
 42  git             670 non-null    int64
 43  graphql         670 non-null    int64
 44  docker          670 non-null    int64
 45  api             670 non-null    int64
 46  communication   670 non-null    int64
 47  linux           670 non-null    int64
 48  next            670 non-null    int64
 49  tailwindcss     670 non-null    int64
 50  deeplearning    670 non-null    int64
 51  mui             670 non-null    int64
 52  jwt             670 non-null    int64
 53  jquery          670 non-null    int64
 54  bootstrap       670 non-null    int64
 55  reactjs         670 non-null    int64
 56  firebase        670 non-null    int64
 57  salary          670 non-null    float64
dtypes: float64(4), int64(46), object(8)
memory usage: 303.7+ KB

In [62]:
skills_df.describe().T

                count       mean       std   min    25%   50%   75%   max
age             670.0  22.323881  1.242447  19.0  22.00  22.0  23.0  31.0
avg_time        670.0  10.620896  1.985639   7.0   9.25  10.0  12.0  16.0
week_back       670.0   3.395522  2.413275   0.0   1.00   4.0   5.0   7.0
python          670.0   0.035821  0.185982   0.0   0.00   0.0   0.0   1.0
vim             670.0   0.014925  0.121345   0.0   0.00   0.0   0.0   1.0
nodejs          670.0   0.002985  0.054595   0.0   0.00   0.0   0.0   1.0
sql             670.0   0.691045  0.462408   0.0   0.00   1.0   1.0   1.0
postman         670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
sas             670.0   0.023881  0.152791   0.0   0.00   0.0   0.0   1.0
opencv          670.0   0.022388  0.148053   0.0   0.00   0.0   0.0   1.0
aws             670.0   0.371642  0.483604   0.0   0.00   0.0   1.0   1.0
typescript      670.0   0.443284  0.497144   0.0   0.00   0.0   1.0   1.0
computervision  670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
dart            670.0   0.025373  0.157373   0.0   0.00   0.0   0.0   1.0
mongodb         670.0   0.829851  0.376045   0.0   1.00   1.0   1.0   1.0
nestjs          670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
flutter         670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
django          670.0   0.013433  0.115205   0.0   0.00   0.0   0.0   1.0
nginx           670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
html            670.0   0.947761  0.222674   0.0   1.00   1.0   1.0   1.0
javascript      670.0   0.016418  0.127171   0.0   0.00   0.0   0.0   1.0
hasura          670.0   0.001493  0.038633   0.0   0.00   0.0   0.0   1.0
mysql           670.0   0.338806  0.473657   0.0   0.00   0.0   1.0   1.0
ajax            670.0   0.319403  0.466594   0.0   0.00   0.0   1.0   1.0
expressjs       670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
vercel          670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
msoffice        670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
redux           670.0   0.035821  0.185982   0.0   0.00   0.0   0.0   1.0
socketio        670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
digitalocean    670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
mongoose        670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
cnn             670.0   0.022388  0.148053   0.0   0.00   0.0   0.0   1.0
angular         670.0   0.334328  0.472108   0.0   0.00   0.0   1.0   1.0
jest            670.0   0.008955  0.094278   0.0   0.00   0.0   0.0   1.0
git             670.0   0.329851  0.470510   0.0   0.00   0.0   1.0   1.0
graphql         670.0   0.001493  0.038633   0.0   0.00   0.0   0.0   1.0
docker          670.0   0.038806  0.193277   0.0   0.00   0.0   0.0   1.0
api             670.0   0.029851  0.170303   0.0   0.00   0.0   0.0   1.0
communication   670.0   0.001493  0.038633   0.0   0.00   0.0   0.0   1.0
linux           670.0   0.014925  0.121345   0.0   0.00   0.0   0.0   1.0
next            670.0   0.010448  0.101755   0.0   0.00   0.0   0.0   1.0
tailwindcss     670.0   0.307463  0.461787   0.0   0.00   0.0   1.0   1.0
deeplearning    670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
mui             670.0   0.029851  0.170303   0.0   0.00   0.0   0.0   1.0
jwt             670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
jquery          670.0   0.350746  0.477560   0.0   0.00   0.0   1.0   1.0
bootstrap       670.0   0.046269  0.210223   0.0   0.00   0.0   0.0   1.0
reactjs         670.0   0.000000  0.000000   0.0   0.00   0.0   0.0   0.0
firebase        670.0   0.004478  0.066815   0.0   0.00   0.0   0.0   1.0
salary          670.0   4.534224  1.693921   1.8   3.60   4.3   5.0  30.0

### Univariate analysis

#### Distributions of Features and Target