### Data Preprocessing - Combined Dataset

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Reading the dataset
data = pd.read_csv('data/dataset.csv')
data.head()

,domain,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,city,...,linux,sas,vercel,redux,api,bootstrap,mongoose,tailwind,docker,salary
0,web development using python django,software engineer,22.0,No Degree,No,No,9.0,No,0.0,bangalore,...,0,0,0,0,0,0,0,0,0,3.00
1,web development using node.js express,software engineer,21.0,Degree,No,No,12.0,No,2.0,wfh,...,0,0,0,0,0,0,0,0,0,2.16
2,web development using python django,nodejs developer,22.0,Degree,Yes,No,9.0,Yes,4.0,bangalore,...,0,0,0,0,0,0,0,0,0,2.40
3,mern stack,software developer,23.0,No Degree,No,No,11.0,Yes,7.0,chennai,...,0,0,0,0,0,0,0,0,0,3.55
4,web development using python django,software engineer,22.0,No Degree,No,No,10.0,No,4.0,bangalore,...,0,0,0,0,0,0,0,0,0,2.40

In [3]:
data.columns

Index(['domain', 'designation', 'age', 'degree', 'cs_bg', 'experience',
       'avg_time', 'holidays', 'week_back', 'city', 'graduated', 'flutter',
       'angular', 'python', 'express', 'firebase', 'aws', 'sql', 'javascript',
       'jwt', 'node', 'html', 'ajax', 'hasura', 'communication', 'git', 'jest',
       'mysql', 'react', 'graphql', 'mongodb', 'cnn', 'postman', 'nginx',
       'dart', 'vim', 'django', 'mui', 'typescript', 'opencv', 'jquery',
       'next', 'linux', 'sas', 'vercel', 'redux', 'api', 'bootstrap',
       'mongoose', 'tailwind', 'docker', 'salary'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 52 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   domain         669 non-null    object
 1   designation    669 non-null    object
 2   age            669 non-null    float64
 3   degree         669 non-null    object
 4   cs_bg          669 non-null    object
 5   experience     669 non-null    object
 6   avg_time       669 non-null    float64
 7   holidays       669 non-null    object
 8   week_back      669 non-null    float64
 9   city           669 non-null    object
 10  graduated      669 non-null    object
 11  flutter        669 non-null    int64
 12  angular        669 non-null    int64
 13  python         669 non-null    int64
 14  express        669 non-null    int64
 15  firebase       669 non-null    int64
 16  aws            669 non-null    int64
 17  sql            669 non-null    int64
 18  javascript     669 non-null    int64
 19  jwt            669 non-null    int64
 20  node           669 non-null    int64
 21  html           669 non-null    int64
 22  ajax           669 non-null    int64
 23  hasura         669 non-null    int64
 24  communication  669 non-null    int64
 25  git            669 non-null    int64
 26  jest           669 non-null    int64
 27  mysql          669 non-null    int64
 28  react          669 non-null    int64
 29  graphql        669 non-null    int64
 30  mongodb        669 non-null    int64
 31  cnn            669 non-null    int64
 32  postman        669 non-null    int64
 33  nginx          669 non-null    int64
 34  dart           669 non-null    int64
 35  vim            669 non-null    int64
 36  django         669 non-null    int64
 37  mui            669 non-null    int64
 38  typescript     669 non-null    int64
 39  opencv         669 non-null    int64
 40  jquery         669 non-null    int64
 41  next           669 non-null    int64
 42  linux          669 non-null    int64
 43  sas            669 non-null    int64
 44  vercel         669 non-null    int64
 45  redux          669 non-null    int64
 46  api            669 non-null    int64
 47  bootstrap      669 non-null    int64
 48  mongoose       669 non-null    int64
 49  tailwind       669 non-null    int64
 50  docker         669 non-null    int64
 51  salary         669 non-null    float64
dtypes: float64(4), int64(40), object(8)
memory usage: 271.9+ KB

We can drop the column `city` as it has misentries from imputation.

In [5]:
# Dropping the column city
data = data.drop('city', axis=1)
data.head()

,domain,designation,age,degree,cs_bg,experience,avg_time,holidays,week_back,graduated,...,linux,sas,vercel,redux,api,bootstrap,mongoose,tailwind,docker,salary
0,web development using python django,software engineer,22.0,No Degree,No,No,9.0,No,0.0,Yes,...,0,0,0,0,0,0,0,0,0,3.00
1,web development using node.js express,software engineer,21.0,Degree,No,No,12.0,No,2.0,Yes,...,0,0,0,0,0,0,0,0,0,2.16
2,web development using python django,nodejs developer,22.0,Degree,Yes,No,9.0,Yes,4.0,Yes,...,0,0,0,0,0,0,0,0,0,2.40
3,mern stack,software developer,23.0,No Degree,No,No,11.0,Yes,7.0,Yes,...,0,0,0,0,0,0,0,0,0,3.55
4,web development using python django,software engineer,22.0,No Degree,No,No,10.0,No,4.0,Yes,...,0,0,0,0,0,0,0,0,0,2.40

In [6]:
data.shape

(669, 51)

We have 669 rows and 51 columns

### Encoding Categorical Columns

1. Using **Label encoding** for `degree` column because it has a meaningful ordinal relationship

In [7]:
# Importing label encoder from sklearn
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

In [8]:
pre_data = data.copy()

pre_data['degree_encoded'] = label_encoder.fit_transform(pre_data['degree'])
pre_data.drop('degree', axis=1, inplace=True)
pre_data.head()

,domain,designation,age,cs_bg,experience,avg_time,holidays,week_back,graduated,flutter,...,sas,vercel,redux,api,bootstrap,mongoose,tailwind,docker,salary,degree_encoded
0,web development using python django,software engineer,22.0,No,No,9.0,No,0.0,Yes,0,...,0,0,0,0,0,0,0,0,3.00,2
1,web development using node.js express,software engineer,21.0,No,No,12.0,No,2.0,Yes,0,...,0,0,0,0,0,0,0,0,2.16,0
2,web development using python django,nodejs developer,22.0,Yes,No,9.0,Yes,4.0,Yes,0,...,0,0,0,0,0,0,0,0,2.40,0
3,mern stack,software developer,23.0,No,No,11.0,Yes,7.0,Yes,0,...,0,0,0,0,0,0,0,0,3.55,2
4,web development using python django,software engineer,22.0,No,No,10.0,No,4.0,Yes,0,...,0,0,0,0,0,0,0,0,2.40,2

In [9]:
pre_data['degree_encoded'].value_counts()

2    338
0    328
1      3
Name: degree_encoded, dtype: int64

  **Legend - degree_encoded**
  
    2 - No degree

    0 - Degree

    1 - Diploma

2. **One Hot Encoding** for `domain` column as the values has no meaningful order and each category is distinct

In [25]:
pre_data.head()

,domain,designation,age,cs_bg,experience,avg_time,holidays,week_back,graduated,flutter,...,sas,vercel,redux,api,bootstrap,mongoose,tailwind,docker,salary,degree_encoded
0,web development using python django,software engineer,22.0,No,No,9.0,No,0.0,Yes,0,...,0,0,0,0,0,0,0,0,3.00,2
1,web development using node.js express,software engineer,21.0,No,No,12.0,No,2.0,Yes,0,...,0,0,0,0,0,0,0,0,2.16,0
2,web development using python django,nodejs developer,22.0,Yes,No,9.0,Yes,4.0,Yes,0,...,0,0,0,0,0,0,0,0,2.40,0
3,mern stack,software developer,23.0,No,No,11.0,Yes,7.0,Yes,0,...,0,0,0,0,0,0,0,0,3.55,2
4,web development using python django,software engineer,22.0,No,No,10.0,No,4.0,Yes,0,...,0,0,0,0,0,0,0,0,2.40,2

In [29]:
pre_data[['domain', 'cs_bg', 'experience', 'holidays', 'graduated']].head()

                                  domain cs_bg experience holidays graduated
0    web development using python django    No         No       No       Yes
1  web development using node.js express    No         No       No       Yes
2    web development using python django   Yes         No      Yes       Yes
3                             mern stack    No         No      Yes       Yes
4    web development using python django    No         No       No       Yes

In [30]:
#categorical data
columns_to_encode = ['domain', 'cs_bg', 'experience', 'holidays', 'graduated']

# Encoding the categorical columns
pre_data = pd.get_dummies(pre_data, columns = columns_to_encode, drop_first = True)
pre_data.head()

,designation,age,avg_time,week_back,flutter,angular,python,express,firebase,aws,...,domain_mobile development using swift,domain_web development using node.js express,domain_web development using python django,domain_web development using python django + angular,domain_web development using python django + react,cs_bg_Yes,experience_No,experience_Yes [ Non IT industry ],holidays_Yes,graduated_Yes
0,software engineer,22.0,9.0,0.0,0,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
1,software engineer,21.0,12.0,2.0,0,1,0,1,0,0,...,0,1,0,0,0,0,1,0,0,1
2,nodejs developer,22.0,9.0,4.0,0,1,0,1,0,0,...,0,0,1,0,0,1,1,0,1,1
3,software developer,23.0,11.0,7.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,1,1
4,software engineer,22.0,10.0,4.0,0,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1

In [32]:
print(pre_data.columns)

Index(['designation', 'age', 'avg_time', 'week_back', 'flutter', 'angular',
       'python', 'express', 'firebase', 'aws', 'sql', 'javascript', 'jwt',
       'node', 'html', 'ajax', 'hasura', 'communication', 'git', 'jest',
       'mysql', 'react', 'graphql', 'mongodb', 'cnn', 'postman', 'nginx',
       'dart', 'vim', 'django', 'mui', 'typescript', 'opencv', 'jquery',
       'next', 'linux', 'sas', 'vercel', 'redux', 'api', 'bootstrap',
       'mongoose', 'tailwind', 'docker', 'salary', 'degree_encoded',
       'domain_cybersecurity', 'domain_data science', 'domain_devops',
       'domain_frontend development using react',
       'domain_game development using unity', 'domain_golang',
       'domain_machine learning', 'domain_mean stack', 'domain_mern stack',
       'domain_mobile development using android kotlin',
       'domain_mobile development using flutter',
       'domain_mobile development using swift',
       'domain_web development using node.js express',
       'domain_web development using python django',
       'domain_web development using python django + angular',
       'domain_web development using python django + react', 'cs_bg_Yes',
       'experience_No', 'experience_Yes [ Non IT industry ]', 'holidays_Yes',
       'graduated_Yes'],
      dtype='object')

In [36]:
encoded_cols = ['domain_cybersecurity', 'domain_data science', 'domain_devops',
       'domain_frontend development using react',
       'domain_game development using unity', 'domain_golang',
       'domain_machine learning', 'domain_mean stack', 'domain_mern stack',
       'domain_mobile development using android kotlin',
       'domain_mobile development using flutter',
       'domain_mobile development using swift',
       'domain_web development using node.js express',
       'domain_web development using python django',
       'domain_web development using python django + angular',
       'domain_web development using python django + react', 'cs_bg_Yes',
       'experience_No', 'experience_Yes [ Non IT industry ]', 'holidays_Yes',
       'graduated_Yes']

pre_data[encoded_cols].head()

,domain_cybersecurity,domain_data science,domain_devops,domain_frontend development using react,domain_game development using unity,domain_golang,domain_machine learning,domain_mean stack,domain_mern stack,domain_mobile development using android kotlin,...,domain_mobile development using swift,domain_web development using node.js express,domain_web development using python django,domain_web development using python django + angular,domain_web development using python django + react,cs_bg_Yes,experience_No,experience_Yes [ Non IT industry ],holidays_Yes,graduated_Yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,1,0,1,1
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [38]:
# Renaming the columns
cols = {'domain_data science':'domain_data_science', 'domain_frontend development using react':'domain_frontend_react', 'domain_game development using unity': 'game_developemnt',
       'domain_machine learning': 'domain_machine_learning', 'domain_mean stack':'domain_mean', 'domain_mern stack': 'domain_mern', 'domain_mobile development using android kotlin':'domain_mob_dev_kotlin',
       'domain_mobile development using flutter':'domain_mobile_development_using_flutter', 'domain_mobile development using swift': 'domain_mob_dev_swift',
       'domain_web development using node.js express':'domain_webdev_nodejs', 'domain_web development using python django':'domain_webdev_django',
       'domain_web development using python django + angular':'domain_webdev_django_angular', 'domain_web development using python django + react':'domain_webdev_django_react'}

pre_data.rename(columns=cols, inplace=True)
pre_data.columns.values

array(['designation', 'age', 'avg_time', 'week_back', 'flutter',
       'angular', 'python', 'express', 'firebase', 'aws', 'sql',
       'javascript', 'jwt', 'node', 'html', 'ajax', 'hasura',
       'communication', 'git', 'jest', 'mysql', 'react', 'graphql',
       'mongodb', 'cnn', 'postman', 'nginx', 'dart', 'vim', 'django',
       'mui', 'typescript', 'opencv', 'jquery', 'next', 'linux', 'sas',
       'vercel', 'redux', 'api', 'bootstrap', 'mongoose', 'tailwind',
       'docker', 'salary', 'degree_encoded', 'domain_cybersecurity',
       'domain_data_science', 'domain_devops', 'domain_frontend_react',
       'game_developemnt', 'domain_golang', 'domain_machine_learning',
       'domain_mean', 'domain_mern', 'domain_mob_dev_kotlin',
       'domain_mobile_development_using_flutter', 'domain_mob_dev_swift',
       'domain_webdev_nodejs', 'domain_webdev_django',
       'domain_webdev_django_angular', 'domain_webdev_django_react',
       'cs_bg_Yes', 'experience_No', 'experience_Yes [ Non IT industry ]',
       'holidays_Yes', 'graduated_Yes'], dtype=object)

In [40]:
# Renaming the columns
cols = {'cs_bg_Yes':'cs_bg', 'experience_No':'experience_1', 'experience_Yes [ Non IT industry ]': 'experience_2',
       'holidays_Yes': 'holidays', 'graduated_Yes':'graduated'}
pre_data.rename(columns=cols, inplace=True)
pre_data.columns.values

array(['designation', 'age', 'avg_time', 'week_back', 'flutter',
       'angular', 'python', 'express', 'firebase', 'aws', 'sql',
       'javascript', 'jwt', 'node', 'html', 'ajax', 'hasura',
       'communication', 'git', 'jest', 'mysql', 'react', 'graphql',
       'mongodb', 'cnn', 'postman', 'nginx', 'dart', 'vim', 'django',
       'mui', 'typescript', 'opencv', 'jquery', 'next', 'linux', 'sas',
       'vercel', 'redux', 'api', 'bootstrap', 'mongoose', 'tailwind',
       'docker', 'salary', 'degree_encoded', 'domain_cybersecurity',
       'domain_data_science', 'domain_devops', 'domain_frontend_react',
       'game_developemnt', 'domain_golang', 'domain_machine_learning',
       'domain_mean', 'domain_mern', 'domain_mob_dev_kotlin',
       'domain_mobile_development_using_flutter', 'domain_mob_dev_swift',
       'domain_webdev_nodejs', 'domain_webdev_django',
       'domain_webdev_django_angular', 'domain_webdev_django_react',
       'cs_bg', 'experience_1', 'experience_2', 'holidays', 'graduated'],
      dtype=object)

### Legends
    1. cs_bg
        1 - Yes
        0 - No
        
    2. experience
        1 0 - No
        0 1 - Yes [ Non IT industry ]
        0 0 - Bca dropout
          
    3. holidays
        1 - Yes
        0 - No
          
     4. graduated
        1 - Yes
        0 - No

In [44]:
pre_data[['cs_bg', 'experience_1', 'experience_2', 'holidays', 'graduated']].describe().T

              count      mean       std  min  25%  50%  75%  max
cs_bg         669.0  0.484305  0.500128  0.0  0.0  0.0  1.0  1.0
experience_1  669.0  0.955157  0.207114  0.0  1.0  1.0  1.0  1.0
experience_2  669.0  0.041854  0.200404  0.0  0.0  0.0  0.0  1.0
holidays      669.0  0.508221  0.500306  0.0  0.0  1.0  1.0  1.0
graduated     669.0  0.820628  0.383951  0.0  1.0  1.0  1.0  1.0

3. Applying **Label Encoding** to `designation` as it has 137 unique values

In [45]:
pre_data.designation.nunique()

137

In [46]:
# Apply label encoding to 'designation' column
pre_data['designation_encoded'] = label_encoder.fit_transform(pre_data['designation'])
pre_data.head()

,designation,age,avg_time,week_back,flutter,angular,python,express,firebase,aws,...,domain_webdev_nodejs,domain_webdev_django,domain_webdev_django_angular,domain_webdev_django_react,cs_bg,experience_1,experience_2,holidays,graduated,designation_encoded
0,software engineer,22.0,9.0,0.0,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,124
1,software engineer,21.0,12.0,2.0,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,124
2,nodejs developer,22.0,9.0,4.0,0,1,0,1,0,0,...,0,1,0,0,1,1,0,1,1,95
3,software developer,23.0,11.0,7.0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,1,1,116
4,software engineer,22.0,10.0,4.0,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,124

In [47]:
print(pre_data.columns.values)

['designation' 'age' 'avg_time' 'week_back' 'flutter' 'angular' 'python'
 'express' 'firebase' 'aws' 'sql' 'javascript' 'jwt' 'node' 'html' 'ajax'
 'hasura' 'communication' 'git' 'jest' 'mysql' 'react' 'graphql' 'mongodb'
 'cnn' 'postman' 'nginx' 'dart' 'vim' 'django' 'mui' 'typescript' 'opencv'
 'jquery' 'next' 'linux' 'sas' 'vercel' 'redux' 'api' 'bootstrap'
 'mongoose' 'tailwind' 'docker' 'salary' 'degree_encoded'
 'domain_cybersecurity' 'domain_data_science' 'domain_devops'
 'domain_frontend_react' 'game_developemnt' 'domain_golang'
 'domain_machine_learning' 'domain_mean' 'domain_mern'
 'domain_mob_dev_kotlin' 'domain_mobile_development_using_flutter'
 'domain_mob_dev_swift' 'domain_webdev_nodejs' 'domain_webdev_django'
 'domain_webdev_django_angular' 'domain_webdev_django_react' 'cs_bg'
 'experience_1' 'experience_2' 'holidays' 'graduated'
 'designation_encoded']

##### Legend for designaton_encoded column

In [48]:
# Creating a dict for legend for designation_encoded column
designation_mapping = dict(pre_data[['designation_encoded', 'designation']].drop_duplicates().values)

for i in designation_mapping:
    print(f'Numerical: {i} ---- Designation: {designation_mapping[i]}')

Numerical: 124 ---- Designation: software engineer
Numerical: 95 ---- Designation: nodejs developer
Numerical: 116 ---- Designation: software developer
Numerical: 34 ---- Designation: django developer
Numerical: 6 ---- Designation: assistant manager (it)
Numerical: 1 ---- Designation: android developer
Numerical: 80 ---- Designation: junior software engineer
Numerical: 47 ---- Designation: full stack developer
Numerical: 74 ---- Designation: junior nodejs developer
Numerical: 103 ---- Designation: python developer
Numerical: 50 ---- Designation: fullstack developer
Numerical: 58 ---- Designation: junior android developer
Numerical: 94 ---- Designation: node js trainee
Numerical: 69 ---- Designation: junior fullstack developer
Numerical: 98 ---- Designation: product engineer -ai/ml
Numerical: 68 ---- Designation: junior full stack developer
Numerical: 86 ---- Designation: mern stack developer
Numerical: 97 ---- Designation: product engineer
Numerical: 104 ---- Designation: python developer intern
Numerical: 105 ---- Designation: python django developer
Numerical: 19 ---- Designation: backend developer
Numerical: 89 ---- Designation: mobile app developer
Numerical: 92 ---- Designation: node js developer
Numerical: 38 ---- Designation: flutter developer
Numerical: 29 ---- Designation: developer
Numerical: 96 ---- Designation: poduct engineer
Numerical: 9 ---- Designation: associate engineer
Numerical: 128 ---- Designation: technical team
Numerical: 56 ---- Designation: intern cto
Numerical: 66 ---- Designation: junior flutter developer
Numerical: 57 ---- Designation: ios developer
Numerical: 18 ---- Designation: assosiate software engineer
Numerical: 117 ---- Designation: software developer engineer
Numerical: 37 ---- Designation: executive research informatics
Numerical: 136 ---- Designation: web gl developer
Numerical: 123 ---- Designation: software development engineer i
Numerical: 53 ---- Designation: independent consultant
Numerical: 26 ---- Designation: data engineer
Numerical: 45 ---- Designation: frontend developer
Numerical: 132 ---- Designation: trainee software engineer
Numerical: 60 ---- Designation: junior back end developer
Numerical: 112 ---- Designation: senior systems engineer
Numerical: 133 ---- Designation: trainer-ip
Numerical: 15 ---- Designation: associate software engineer
Numerical: 85 ---- Designation: member of technical staff
Numerical: 11 ---- Designation: associate full stack developer
Numerical: 31 ---- Designation: devops engineer
Numerical: 7 ---- Designation: associate android developer
Numerical: 21 ---- Designation: block chain developer intern
Numerical: 4 ---- Designation: app developer
Numerical: 55 ---- Designation: intern - member of technical staff
Numerical: 14 ---- Designation: associate software developer
Numerical: 129 ---- Designation: technology associate
Numerical: 16 ---- Designation: associate software technologist
Numerical: 12 ---- Designation: associate product engineer
Numerical: 40 ---- Designation: flutter developer intern
Numerical: 119 ---- Designation: software developer trainee
Numerical: 67 ---- Designation: junior front end developer
Numerical: 108 ---- Designation: react developer
Numerical: 126 ---- Designation: system software engineer
Numerical: 118 ---- Designation: software developer intern
Numerical: 2 ---- Designation: android officer
Numerical: 115 ---- Designation: software design engiineer
Numerical: 90 ---- Designation: mobile application developer
Numerical: 79 ---- Designation: junior software developer
Numerical: 49 ---- Designation: full stack engineer
Numerical: 35 ---- Designation: engineer
Numerical: 113 ---- Designation: soc analyst
Numerical: 63 ---- Designation: junior developer
Numerical: 135 ---- Designation: web developer
Numerical: 134 ---- Designation: unity 3d developer
Numerical: 3 ---- Designation: angular developer
Numerical: 42 ---- Designation: flutter engineer
Numerical: 121 ---- Designation: software development engineer
Numerical: 5 ---- Designation: application developer
Numerical: 111 ---- Designation: senior game developer
Numerical: 91 ---- Designation: mobile developer
Numerical: 23 ---- Designation: clinical data programming associate
Numerical: 10 ---- Designation: associate flutter developer
Numerical: 27 ---- Designation: data engineer intern
Numerical: 93 ---- Designation: node js engineer
Numerical: 52 ---- Designation: golang devleoper
Numerical: 44 ---- Designation: flutter trainer
Numerical: 77 ---- Designation: junior react developer
Numerical: 107 ---- Designation: python full stack developer intern
Numerical: 28 ---- Designation: data scientist
Numerical: 100 ---- Designation: project architect
Numerical: 130 ---- Designation: trainee engineer
Numerical: 110 ---- Designation: senior flutter developer
Numerical: 83 ---- Designation: machine learning engineer
Numerical: 84 ---- Designation: mean stack developer
Numerical: 20 ---- Designation: bakcend developer
Numerical: 13 ---- Designation: associate software
Numerical: 43 ---- Designation: flutter nodejs developer
Numerical: 125 ---- Designation: software programmer
Numerical: 36 ---- Designation: executive placement officer
Numerical: 51 ---- Designation: golang developer
Numerical: 41 ---- Designation: flutter developer trainee
Numerical: 81 ---- Designation: junior web developer
Numerical: 8 ---- Designation: associate developer
Numerical: 32 ---- Designation: devops trainee
Numerical: 101 ---- Designation: project engineer backend
Numerical: 78 ---- Designation: junior security analyst
Numerical: 72 ---- Designation: junior mern stack developer
Numerical: 25 ---- Designation: data analyst
Numerical: 131 ---- Designation: trainee software developer
Numerical: 75 ---- Designation: junior programmer analyst
Numerical: 99 ---- Designation: product engineer associate
Numerical: 114 ---- Designation: soc engineer
Numerical: 102 ---- Designation: python backend developer
Numerical: 22 ---- Designation: business development executive (bde)
Numerical: 120 ---- Designation: software development (apprentice)
Numerical: 109 ---- Designation: research assistant (machine learning)
Numerical: 17 ---- Designation: associated product engineer
Numerical: 54 ---- Designation: intern - frontend developer
Numerical: 59 ---- Designation: junior app developer
Numerical: 30 ---- Designation: developer trainee
Numerical: 0 ---- Designation: analyst (development)
Numerical: 61 ---- Designation: junior backend developer
Numerical: 127 ---- Designation: tech lead
Numerical: 65 ---- Designation: junior django developer
Numerical: 122 ---- Designation: software development engineer 1
Numerical: 33 ---- Designation: devsecops
Numerical: 73 ---- Designation: junior ml engineer
Numerical: 106 ---- Designation: python full stack developer
Numerical: 62 ---- Designation: junior computer vision developer
Numerical: 24 ---- Designation: cyber security engineer
Numerical: 71 ---- Designation: junior machine learning engineer
Numerical: 48 ---- Designation: full stack developer trainee
Numerical: 87 ---- Designation: mern stack trainer
Numerical: 76 ---- Designation: junior python developer
Numerical: 64 ---- Designation: junior devops engineer
Numerical: 39 ---- Designation: flutter developer
Numerical: 88 ---- Designation: mern stack tutor
Numerical: 70 ---- Designation: junior fullstack python developer
Numerical: 46 ---- Designation: frontend engineer
Numerical: 82 ---- Designation: l1 web developer

In [49]:
# Dropping the designation column
pre_data = pre_data.drop('designation', axis=1)
pre_data.head()

,age,avg_time,week_back,flutter,angular,python,express,firebase,aws,sql,...,domain_webdev_nodejs,domain_webdev_django,domain_webdev_django_angular,domain_webdev_django_react,cs_bg,experience_1,experience_2,holidays,graduated,designation_encoded
0,22.0,9.0,0.0,0,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,124
1,21.0,12.0,2.0,0,1,0,1,0,0,1,...,1,0,0,0,0,1,0,0,1,124
2,22.0,9.0,4.0,0,1,0,1,0,0,1,...,0,1,0,0,1,1,0,1,1,95
3,23.0,11.0,7.0,0,1,0,1,0,0,1,...,0,0,0,0,0,1,0,1,1,116
4,22.0,10.0,4.0,0,1,0,1,0,0,1,...,0,1,0,0,0,1,0,0,1,124

##### Moving the salary column to the last

In [50]:
pre_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 67 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   age                                      669 non-null    float64
 1   avg_time                                 669 non-null    float64
 2   week_back                                669 non-null    float64
 3   flutter                                  669 non-null    int64
 4   angular                                  669 non-null    int64
 5   python                                   669 non-null    int64
 6   express                                  669 non-null    int64
 7   firebase                                 669 non-null    int64
 8   aws                                      669 non-null    int64
 9   sql                                      669 non-null    int64
 10  javascript                               669 non-null    int64
 11  jwt                                      669 non-null    int64
 12  node                                     669 non-null    int64
 13  html                                     669 non-null    int64
 14  ajax                                     669 non-null    int64
 15  hasura                                   669 non-null    int64
 16  communication                            669 non-null    int64
 17  git                                      669 non-null    int64
 18  jest                                     669 non-null    int64
 19  mysql                                    669 non-null    int64
 20  react                                    669 non-null    int64
 21  graphql                                  669 non-null    int64
 22  mongodb                                  669 non-null    int64
 23  cnn                                      669 non-null    int64
 24  postman                                  669 non-null    int64
 25  nginx                                    669 non-null    int64
 26  dart                                     669 non-null    int64
 27  vim                                      669 non-null    int64
 28  django                                   669 non-null    int64
 29  mui                                      669 non-null    int64
 30  typescript                               669 non-null    int64
 31  opencv                                   669 non-null    int64
 32  jquery                                   669 non-null    int64
 33  next                                     669 non-null    int64
 34  linux                                    669 non-null    int64
 35  sas                                      669 non-null    int64
 36  vercel                                   669 non-null    int64
 37  redux                                    669 non-null    int64
 38  api                                      669 non-null    int64
 39  bootstrap                                669 non-null    int64
 40  mongoose                                 669 non-null    int64
 41  tailwind                                 669 non-null    int64
 42  docker                                   669 non-null    int64
 43  salary                                   669 non-null    float64
 44  degree_encoded                           669 non-null    int32
 45  domain_cybersecurity                     669 non-null    uint8
 46  domain_data_science                      669 non-null    uint8
 47  domain_devops                            669 non-null    uint8
 48  domain_frontend_react                    669 non-null    uint8
 49  game_developemnt                         669 non-null    uint8
 50  domain_golang                            669 non-null    uint8
 51  domain_machine_learning                  669 non-null    uint8
 52  domain_mean                              669 non-null    uint8
 53  domain_mern                              669 non-null    uint8
 54  domain_mob_dev_kotlin                    669 non-null    uint8
 55  domain_mobile_development_using_flutter  669 non-null    uint8
 56  domain_mob_dev_swift                     669 non-null    uint8
 57  domain_webdev_nodejs                     669 non-null    uint8
 58  domain_webdev_django                     669 non-null    uint8
 59  domain_webdev_django_angular             669 non-null    uint8
 60  domain_webdev_django_react               669 non-null    uint8
 61  cs_bg                                    669 non-null    uint8
 62  experience_1                             669 non-null    uint8
 63  experience_2                             669 non-null    uint8
 64  holidays                                 669 non-null    uint8
 65  graduated                                669 non-null    uint8
 66  designation_encoded                      669 non-null    int32
dtypes: float64(4), int32(2), int64(40), uint8(21)
memory usage: 249.0 KB

In [51]:
# Moving the `salary` column to last
preproc_data = pre_data.copy()

column_to_move = preproc_data.pop("salary")

# insert column with insert(location, column_name, column_value)

preproc_data.insert(66, "salary", column_to_move)

preproc_data.head()

,age,avg_time,week_back,flutter,angular,python,express,firebase,aws,sql,...,domain_webdev_django,domain_webdev_django_angular,domain_webdev_django_react,cs_bg,experience_1,experience_2,holidays,graduated,designation_encoded,salary
0,22.0,9.0,0.0,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,1,124,3.00
1,21.0,12.0,2.0,0,1,0,1,0,0,1,...,0,0,0,0,1,0,0,1,124,2.16
2,22.0,9.0,4.0,0,1,0,1,0,0,1,...,1,0,0,1,1,0,1,1,95,2.40
3,23.0,11.0,7.0,0,1,0,1,0,0,1,...,0,0,0,0,1,0,1,1,116,3.55
4,22.0,10.0,4.0,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,1,124,2.40

### Saving the preprocessed dataset

preproc_data.to_csv('encoded_dataset.csv', index=False)

## Feature Selection

In [53]:
# Reading the dataset
df = pd.read_csv('encoded_dataset.csv')
df.head()

,age,avg_time,week_back,flutter,angular,python,express,firebase,aws,sql,...,domain_webdev_django,domain_webdev_django_angular,domain_webdev_django_react,cs_bg,experience_1,experience_2,holidays,graduated,designation_encoded,salary
0,22.0,9.0,0.0,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,1,124,3.00
1,21.0,12.0,2.0,0,1,0,1,0,0,1,...,0,0,0,0,1,0,0,1,124,2.16
2,22.0,9.0,4.0,0,1,0,1,0,0,1,...,1,0,0,1,1,0,1,1,95,2.40
3,23.0,11.0,7.0,0,1,0,1,0,0,1,...,0,0,0,0,1,0,1,1,116,3.55
4,22.0,10.0,4.0,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,1,124,2.40

In [ ]:
df.info()

In [ ]:
for idx, col in enumerate(df.columns):
    print(f'{idx} - {col}')

In [ ]:
df.iloc[:, :109]

In [ ]:
# Checking multicollinearity
import matplotlib.pyplot as plt
import seaborn as sns

skills_ cols = df.iloc[:, ]

#get correlations of each features in dataset
corrmat = df.corr(numeric_only=True)
top_corr_features = corrmat.index

plt.figure(figsize=(20,20))

#plot heat map
g=sns.heatmap(df[top_corr_features].corr(),annot=True,cmap="RdYlGn")

In [ ]:
top_corr_features